<!-- Update Password Template-->
<h3>UPDATE PASSWORD </h3>
<form ngForm>
 <div class="form-group">
 <label for="userName">User Name</label>
 <input type="text" class="form-control" id="userName" required [(ngModel)]="userObj.userName" name="userName" #name='ngModel'>
 </div>
 <br>
 <div class="form-group">
 <label for="newPassword">New Password</label>
 <input type="password" class="form-control" id="newPassword" [(ngModel)]="userObj.password" name="newPassword">
 </div>
 <br>
 <div>
 <button type="submit" class="btn btn-success" (click)="updatePassword(userObj.userName, userObj.password)">Update</button>
 </div>
</form>