<!-- Template to Edit Course-->
<h5>This section is to edit course</h5>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Course Fee</th>
        </tr>
    </thead>
    <tbody>
        <tr appHighlightdirective value="lightblue" *ngFor='let course of catlogCourse'>
            <td>{{course.courseCode | uppercase}}</td>
            <td>{{course.courseName  | uppercase}}</td>
            <td>{{course.courseFee }}</td>      
        </tr>
    </tbody>
</table>
<br>
<br>
<h4>Enter the course code to be added from the above list</h4>
<form ngForm>
    <div class="form-group">
        <label for="courseId">Course Code</label>
        <input type="text" class="form-control" id="courseId" required [(ngModel)]="course.courseId" name="courseId">
    </div> 
    <br>
    <button type="button" class="btn btn-primary" (click)="addCourse()">Add</button>
</form>
<br>

<!-- Table to bind the Course Details-->
<table class="table">
    <thead>
        <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr appHighlightdirective value="lightblue" *ngFor='let crse of course'>
            <td>{{crse.courseCode}}</td>
            <td>{{crse.courseName}}</td>
            <td><button type="button" class="btn btn-primary" (click)="deleteCourse(crse.courseCode)">DELETE</button></td>   
        </tr>
    </tbody>
</table> 